<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Karma Stats</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://raw.github.com/andyet/ICanHaz.js/master/ICanHaz.min.js" type="text/javascript"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="bootstrap-modal.js" type="text/javascript"></script>
    <script src="karma.js"></script>
    <style>
          <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      .spinner{ margin: 0 auto; padding:20px; width: 66px; height: 66px; text-align: center; display: block; }
      .modal-body{ overflow: scroll; height: 400px; overflow-x: hidden; }
    </style>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a id="menu_title" class="brand" href="#">Karma Stats!</a>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <img src="ajax_spin.gif" alt="ajax spinner" class="spinner">
    </div>
    <script id="karma_table" type="text/html">
      <table class="zebra-stripes bordered-table">
        <thead>
          <tr><th>Rank</th><th>Picture</th><th>Object</th><th>Up</th><th>Down</th><th>Score</th></tr>
        </thead>
        <tbody>
          {{#karmatrain}}{{#name}}
            <tr>
              <td>{{rank}}</td>
              <td>
                {{#image}}<img src="images/{{image}}" alt="{{name}}">{{/image}}
                {{^image}}
                  <!-- It would be nice if http://jpg.to/ was working but what you gonna do? -->
                  <img src="no_image.gif" alt="{{name}}" width="75%">
                {{/image}}
              </td>
              <td>
                {{#reason_count}}
                  <a class="reasons" href="#{{name}}">{{name}}</a>
                  <br>
		  ...with {{reason_count}} reasons
                {{/reason_count}}
                {{^reason_count}}
                  {{name}}
                {{/reason_count}}
	      </td>
              <td>{{up}}</td><td>{{down}}</td>
              <td>{{total}}</td>
            </tr>
          {{/name}}{{/karmatrain}}
        </tbody>
      </table>
    </script>
    <script id="reasons_list" type="text/html">
      <div class="modal">
        <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Karma Reasons for {{name}}</h3>
        </div>
        <div class="modal-body">
 	  {{#reasons}}
            <h4>Has gained karma:</h4>
            {{#gained}}
              <p>{{.}}</p>
            {{/gained}}
            {{^gained}}
              <p><em>(No reasons found)</em></p>
            {{/gained}}
            <h4>Has lost karma:</h4>
            {{#lost}}
              <p>{{.}}</p>
            {{/lost}}
            {{^lost}}
              <p><em>(No reasons found)</em></p>
            {{/lost}}
            <h4>Has remained neutral:</h4>
            {{#not_changed}}
              <p>{{.}}</p>
            {{/not_changed}}
            {{^not_changed}}
              <p><em>(No reasons found)</em></p>
            {{/not_changed}}
	  {{/reasons}}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </script>
  </body>
</html>
